.btn{
    width: 100px;
    text-align: center;
}
.text{
    color: #000000
}
.margin-left {
    margin-left: 50px;
}
.left {
    float: left
}
.right {
    float : right
}
.shadow {
box-shadow: 10px 10px 5px grey;
}
.mt-50{
    margin-top: 50px
}
.pd-20{
    padding: 20px
}
.br-10{border-radius: 10px;}
.br-3{border-radius: 3px;}
.info{
    background-color: #00bcd4 !important;
}